<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>Get</title>
</head>

<body>
    <a href="post">Post secret content</a>
    <label for="SecretText">Secret Text</label>
    <textarea name="SecretText" id="SecretText" cols="30" rows="5">{{SecretText}}</textarea>
    
    <form action="/delete" method="post">
        <input type="hidden" id="Url" name="Url" value="{{Url}}">
        <input type="submit" value="Delete">
    </form>
</body>

</html>